* {
	margin: 0;
	padding: 0;
}

body {
	color: #b7aca2;
	font-size: 110%;
	background: #33281e url(bilder/lightback.gif) repeat;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

#canvas {
	margin: 1.3em 0;
	padding: 2.6em 0;
	background: #231A14 url(bilder/darkback.gif) repeat;
	font: 1em/1.5 calluna-sans, Helvetica, Verdana, Arial;
}

#main img {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 3px 5px #151515;
	-webkit-box-shadow: 0px 3px 5px #151515;
	box-shadow: 0px 3px 5px #151515;
}

#logo img {
	border-radius: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-left: -5px;
}

#main, #footer {
	width: 40em;
	margin: 0 auto;
	text-shadow: #000 0 1px 2px;
}

#footer {
	font: 0.9em/1.667 calluna-sans, Helvetica, Verdana, Arial;
	padding-bottom: 1.5em;
	opacity: 0.5;
	width: 44.44em;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

#footer:hover {
	opacity: 1;
}

#nav {
	margin: 0.3em 0 2.8em 0;
}

#nav ul li {
	display: inline;
	margin-right: 1em;

}

.fokus {
	border-bottom: 2px solid #503c2e;
	padding-bottom: 2px;
}

#bild {
	width: 15em;
	float: left;
}

#bild img {
	width: 100%;
}

#copy {
	width: 23em;
	float: right;
}

p {
	margin-bottom: 1.3em;
}

p.ingress {
	margin-left: -1px;
	font: italic 1.2em/1.25 adelle;
	font-weight: 400;
	border-top: 1px solid #3c302a;
	border-bottom: 1px solid #3c302a;
	padding: 1.25em 1em;
	width: 33.33em;
	margin-left: -1em;
}

a {
	color: #b6bc7b;
	text-decoration: none;
	border-bottom: 1px solid #373825;
	padding-bottom: 1px;
}

#nav a {
	border-bottom: none;
	color: #af8663;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

#nav a:hover {
	color: #b6bc7b;
}


#portfolio img {
	vertical-align: middle;

}

#portfolio a {
	border: none;
}

#portfolio img {
	opacity: 0.7;
	margin: 0 30px 30px 0;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

#portfolio img:hover {
	opacity: 1;
	margin-top: -10px;
	-moz-box-shadow: 0px 3px 15px #151515;
	-webkit-box-shadow: 0px 3px 15px #151515;
	box-shadow: 0px 3px 15px #151515;
}

#tumblr ol {
	list-style-type: none;
}

#tumblr li{
	border-bottom: 1px solid #312721;
	margin-bottom: 1em;
}

.typekit-badge {
	display:none !important;
}