* {
	margin: 0;
	padding: 0;
}

body {
	color: #b7aca2;
	font-size: 110%;
	background: #33281e url(bilder/lightback.gif) repeat;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

#canvas {
	margin: 1.5em 0;
	padding: 3em 0;
	background: #231A14 url(bilder/darkback.gif) repeat;
	font: 1em/1.5 calluna-sans, Helvetica, Verdana, Arial;
}

#main img {
	-moz-box-shadow: 0px 3px 5px #151515;
	-webkit-box-shadow: 0px 3px 5px #151515;
	box-shadow: 0px 3px 5px #151515;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-top: 0.3em;
}

#logo img {
	border-radius: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-left: -5px;
}

#main, #footer {
	width: 40em;
	margin: 0 auto;
	text-shadow: #000 0 1px 2px;
}

#footer {
	font: 0.9em/1.667 calluna-sans, Helvetica, Verdana, Arial;
	padding-bottom: 1.5em;
	opacity: 0.5;
	width: 44.44em;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

#footer:hover {
	opacity: 1;
}

#nav {
	margin: 0.3em 0 3em 0;
}

#nav ul li {
	display: inline;
	margin-right: 1em;

}

.fokus {
	border-bottom: 2px solid #503c2e;
	padding-bottom: 2px;
}

#bild {
	width: 13em;
	float: left;
}

#bild img {
	width: 100%;
}

#copy {
	width: 25em;
	float: right;
}

h1 {
	font-size: 2em;
	line-height: 0.75em;
	margin: 0 0 0.75em 0;
}

h2 {
	font-size: 1.5em;
	line-height: 1em;
	margin: 1em 0;
}

h3 {
	font-size: 1.2em;
}

p {
	margin-bottom: 1.5em;
}

p.ingress {
	margin-left: -1px;
	font: italic 1.3em/1.5 adelle;
	font-weight: 400;
	border-top: 0.0833em solid #3c302a;
	border-bottom: 0.0833em solid #3c302a;
	padding: 1.25em 1em;
	width: 30.8em;
	margin-left: -1em;
}

#copy li { margin: 0 0 0 1.5em;}

a {
	color: #b6bc7b;
	text-decoration: none;
	padding-bottom: .0.0833em;
}

p a, #tumblr a {
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

a:hover {color: #fff;}

#nav a {
	border-bottom: none;
	color: #af8663;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

#nav a:hover {
	color: #fff;
}


#portfolio img {
	vertical-align: middle;

}

#portfolio a {
	border: none;
}

#portfolio img {
	opacity: 0.7;
	margin: 0 30px 30px 0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

#portfolio img:hover {
	opacity: 1;
	-moz-box-shadow: 0px 0px 20px #594A3E;
	-webkit-box-shadow: 0px 0px 20px #594A3E;
	box-shadow: 0px 0px 20px #594A3E;
}

#tumblr ol {
	list-style-type: none;
}

#tumblr li{
	border-bottom: 0.0833em solid #312721;
	margin-bottom: 1.417em;
	width: 42em;
	padding: 0 1em;
	margin-left: -1em;
}

.typekit-badge {
	display:none !important;
}