/* @override http://hertze.com/makeup/tumblr.css */

.permalink {
	float: right;
	margin-left: -30px;
	margin-top: 5px;
}

.permalink a{
	border: none;
}

.permalink a:hover {
	color: whitesmoke;
}

#contents div {
	margin-bottom: 2em;
}

.post {
	border-bottom: 1px solid #49392b;
}

#contents {
	width: 30em;
}

.postmeta {
	font-size: 0.8em;
}