<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv" lang="sv">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Anna Hertze</title>
	<meta name="author" content="Anna Hertze" />
	<meta name="copyright" content="Copyright Anna Hertze" />
	<meta name="keywords" content="makeup, makeupartist, smink, sminkning" />
	<meta name="description" content="" />
	
	<link rel="stylesheet" href="screen.css" type="text/css" media="screen, projection" />
	
	<script type="text/javascript" src="http://use.typekit.com/kyw8iyg.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<div id="canvas" class="clearfix">
		<div id="main">
			<div id="logo">
				<img src="./bilder/logo.png" />
			</div>
			<div id="nav">
				<ul>
					<li><span class="fokus">Hem</span></li>
					<li><a href="om">Om mig</a></li>
					<li><a href="portfolio">Portfolio</a></li>
					<li><a href="../inspiration">Inspiration</a></li>
					<li><a href="kontakt">Kontakta mig</a></li>
				</ul>
			</div>
			<div id="contents">
				
				{{ content }}
				
			</div>
		</div>
	
	</div>
	<div>
		<p>
			<p id="footer">&copy; Anna Hertze. Skicka epost till <a href="&#109;&#97;&#105;&#108;&#116;&#111;:&#x6B;&#x6F;&#x6E;&#116;&#97;&#x6B;&#116;&#x40;&#x61;&#x6E;&#110;&#97;&#x68;&#x65;&#114;&#x74;&#x7A;&#101;&#x2E;&#115;&#x65;">&#x6B;&#x6F;&#x6E;&#116;&#97;&#x6B;&#116;&#x40;&#x61;&#x6E;&#110;&#97;&#x68;&#x65;&#114;&#x74;&#x7A;&#101;&#x2E;&#115;&#x65;</a>, eller kontakta mig på <a href="https://www.facebook.com/people/Anna-Hertze/100001942743187">Facebook</a>.</p>
	</div>
</body>
</html>
